

.signup{
&.card{
    box-shadow: 11px 10px 15px 2px grey;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
}

.scan-text{
  font-size: 20px;
  font-weight: 600;
  padding:10px;
}
.para-text{
  font-size: 20px;
  margin-top: 10px;
}