
.product {
  .container-fluid {
    background-color: red;
  }
  .image {
    height: 250px;
    object-fit: contain;

  }
  .price {
    color: #666;
    font-size: 13px;
  }
  .content {
    height: 85px;
  }
  .description {
    overflow: hidden;
    height: 60px;
    text-overflow: ellipsis;
  }
  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .card:hover {
    box-shadow: 11px 10px 15px 2px grey;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  }
}
.product:hover{
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.2s;
}
